@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --clr-cyan: rgba(100, 200, 212, 1);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  color: #ffff;
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

.navbar ul li a:hover,
.navbar ul li a.active-button {
  background: #fff;
  color: var(--clr-cyan);
}
.hero {
  min-height: 100vh;
  background-image: url("../images/parallax/layer07_Sky.png");
}
