@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

:root {
  --clr-cyan: rgba(100, 200, 212, 1);
  --transition: all 0.3s linear;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============== */
/* GLOBAL STYLES */
/* ============== */

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

.wrapper {
  width: 90vw;
  margin: 0 auto;
  max-width: 1280px;
}
.btn {
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  font-size: 1.5em;
}

.section {
  margin-top: 4em;
}

.section h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: black;
  text-transform: capitalize;
}

.section p {
  font-size: 1.2em;
  color: black;
}

.section-title {
  text-align: center;
}
.underline {
  width: 10rem;
  height: 0.5rem;
  margin-bottom: 3rem;
  background: var(--clr-cyan);
  margin-left: auto;
  margin-right: auto;
}

/* ============== */
/* NAVBAR */
/* ============== */

.navbar {
  position: fixed;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar .logo {
  color: #ffff;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Sigmar One";
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar ul {
  height: 0;
  overflow: hidden;
  display: none;
}

.navbar ul li {
  margin-left: 1rem;
}

.navbar ul li a {
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

.navbar ul li a:hover,
.navbar ul li a.active-button {
  background: #fff;
  color: var(--clr-cyan);
}

@media screen and (min-width: 900px) {
  .navbar ul {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ============== */
/* HERO SECTION */
/* ============== */

.hero {
  min-height: 100vh;
  background-color: var(--clr-cyan);
}

.hero__text {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.hero-title {
  color: #fff;
  text-transform: uppercase;
  font-family: "Sigmar One";
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3em;
  z-index: 1;
}

@media screen and (min-width: 600px) {
  #hero-title {
    font-size: 4.5rem;
  }
}

.btn-hero {
  background: rgba(255, 255, 255, 0.8);
  color: black;
}

.hero-about h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1em;
}

.hero-about p {
  text-align: center;
}

.featured-games-gallery-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 570px;
  margin-top: 72px;
}

.featured-games-gallery-container .item-container {
  position: relative;
  height: 100%;
}

.featured-games-gallery-container .gallery-item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  /*display: flex;
  justify-content: flex-end;
  flex-direction: column;*/
  transition: all 0.5s linear;
}

.featured-games-gallery-container .gallery-item.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

.featured-games-gallery-container .gallery-item.lastSlide {
  transform: translateX(-100%);
}

.featured-games-gallery-container .gallery-item.nextSlide {
  transform: translateX(100%);
}

.gallery-item__picture {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d6d6d6;
}

.gallery-item__picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery-item__text {
  /*flex-basis: 33%;*/
  position: absolute;
  bottom: 120px;
  max-width: 67%;
  margin-left: 8%;
  color: white;
  /*padding-bottom: 120px;*/
}

.gallery-item__text h3 {
  font-size: 5rem;
  font-weight: 700;
}

.gallery-item__text p {
  font-size: 1.5rem;
  font-weight: 700;
}

.paddlenav {
  margin-left: 8%;
  position: absolute;
  bottom: 50px;
}

.paddlenav ul {
  display: flex;
}

.paddlenav-arrow {
  background: none;
  border: none;
  font-size: 2.25rem;
  color: #fff;
}

.paddlenav-item + .paddlenav-item {
  margin-left: 10px;
}

/* ============== */
/* GAMES */
/* ============== */

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 4em;
  width: 100%;
  transition: var(--transition);
}

@media screen and (min-width: 600px) {
  .game {
    flex-direction: row;
  }

  .game:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}

.game-img {
  width: 100%;
}

.game-info {
  width: 100%;
  padding: 1em 2em;
}

.game-info h3 {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 1em;
}

.game-info p {
  margin-bottom: 2em;
}

.btn-game {
  background-color: #fff;
  color: black;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 30px;
}

.game-reviews {
  margin: 0 auto;
  /*margin-top: 4rem;*/
  width: 100%;
  /* have to have a height */
  height: 10em;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

.game-review {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}

.game-review.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

.game-review.lastSlide {
  transform: translateX(-100%);
}

.game-review.nextSlide {
  transform: translateX(100%);
}

.btn-prev,
.btn-next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: var(--clr-grey-5);
  color: var(--clr-white);
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}

.btn-prev:hover,
.btn-next:hover {
  background: var(--clr-primary-5);
}
.btn-prev {
  left: 0;
}
.btn-next {
  right: 0;
}

/* ============== */
/* FOOTER */
/* ============== */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 9rem;
  background: #222;
  text-align: center;
}
.footer h4 {
  color: white;
  font-weight: normal;
  text-transform: uppercase;
}
.footer h4 span {
  color: cadetblue;
}
.footer-links {
  margin: 0 auto 1rem auto;
}
.footer .social-link {
  font-size: 2rem;
  color: white;
}
.footer .social-link:hover {
  color: grey;
}
