@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

:root {
  --clr-cyan: rgba(100, 200, 212, 1);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============== */
/* GLOBAL STYLES */
/* ============== */

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ============== */
/* NAVBAR */
/* ============== */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar .logo {
  color: #ffff;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Sigmar One";
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar ul {
  height: 0;
  overflow: hidden;
  display: none;
}

.navbar ul li {
  margin-left: 1rem;
}

.navbar ul li a {
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

.navbar ul li a:hover,
.navbar ul li a.active-button {
  background: #fff;
  color: var(--clr-cyan);
}

@media screen and (min-width: 900px) {
  .navbar ul {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ============== */
/* HERO SECTION */
/* ============== */

.hero {
  min-height: 110vh;
  background-image: url("../images/parallax/layer07_Sky.png");
}

.parallax {
  position: relative;
  width: 100%;
  height: 110vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parallax::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background: linear-gradient(to top, white, transparent);
  z-index: 100;
}

.parallax-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax-img-character {
  position: absolute;
  bottom: 21%;
  left: 50%;
  transform: translateX(-50%);
}

.parallax-img-dragon {
  position: absolute;
  top: 0;
  left: 30%;
  transform: translateX(-50%);
}

@media screen and (min-width: 600px) {
  .parallax-img-character {
    left: 60%;
    transform: translateX(0);
  }
}

#hero-title {
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  font-family: "Sigmar One";
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3em;
  z-index: 1;
}

@media screen and (min-width: 600px) {
  #hero-title {
    font-size: 4.5rem;
  }
}

.btn-hero {
  position: absolute;
  margin-top: 15em;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  font-size: 1.5em;
  z-index: 1;
}

.sec {
  position: relative;
  padding: 100px;
  background: white;
}

.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: black;
}

.sec p {
  font-size: 1.2em;
  color: black;
}

/* ============== */
/* FOOTER */
/* ============== */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 9rem;
  background: #222;
  text-align: center;
}
.footer h4 {
  color: white;
  font-weight: normal;
  text-transform: uppercase;
}
.footer h4 span {
  color: cadetblue;
}
.footer-links {
  margin: 0 auto 1rem auto;
}
.footer .social-link {
  font-size: 2rem;
  color: white;
}
.footer .social-link:hover {
  color: grey;
}
